@import url("http://fonts.googleapis.com/css?family=Merriweather");
@import url("http://fonts.googleapis.com/css?family=Open+Sans");
body {
  font-family: Merriweather, serif; }

h1, h2, h3 {
  margin: 0;
  font-weight: normal;
  font-family: Open Sans, sans-serif; }

h1 {
  font-size: 36px;
  line-height: 42px; }

h2 {
  font-size: 26px;
  line-height: 32px; }

h3 {
  font-size: 36px;
  line-height: 42px; }

h4 {
  font-size: 21px;
  line-height: 28px; }

h5 {
  font-size: 15px;
  line-height: 18px; }

h6 {
  font-size: 12px;
  line-height: 16px; }

p {
  font-size: 18px;
  line-height: 22px; }
